@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root{
    --primary-color-text: #263238;
    --secondary-color-text: #89939E;
    --background-primary-button: #28CB8B;
    --text-primary-button: #fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.nav__bar{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 10rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #fff;
    z-index: 2;
}
.nav__links .nav__links__list{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.nav__links .nav__links__list li{
    list-style: none;
    cursor: pointer;
}
.nav__links .nav__links__list button{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .7rem 1rem;
    border-radius: 4px;
    border: none;
    background-color: var(--background-primary-button);
    color: var(--text-primary-button);
    cursor: pointer;
}
.nav__menu {display: none;}
.nav__menu i{
    font-size: 1.5rem;
    color: var(--background-primary-button);
    cursor: pointer;
}
.section__body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8.5rem;
    margin: 0 3rem;
}
.section__body__text{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.section__body h1{
    font-size: 55px;
}
.active__text{
    color: var(--background-primary-button);
}
.section__body p{
    color: var(--secondary-color-text);
}
.section__body button{
    width: 120px;
    padding: .7rem 1.5rem;
    background-color: var(--background-primary-button);
    border-radius: 4px;
    border: none;
    color: var(--text-primary-button);
    cursor: pointer;
    margin-top: 1.5rem;
}
.section__body__image{
    animation: imageFloat 3s ease-in-out 1s infinite;
}
@keyframes imageFloat {
    0%{bottom: 0;}
    50%{bottom: 8%;}
    100%{bottom: 0;}
}
.section__body__image, .footer .footer__image{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section__body__image img{
    width: 400px;
    height: auto;
}
.section__client{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.section__client__header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section__client__header p{
    color: var(--secondary-color-text);
    margin-top: 1rem;
}
.section__client__icons{
    display: flex;
    justify-content: space-evenly;
    padding: 1.5em 0;
    font-size: 2rem;
}
.section__client__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2.5rem;
}
.section__client__text p{
    color: var(--secondary-color-text);
}
.section__client__organisation{
    display: flex;
    gap: 5rem;
    padding: 0 6rem;
}
.section__client__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    gap: .6rem;
    text-align: center;
    padding: 3rem; 
}
.section__client__list i{
    font-size: 2.5rem;
    color: var(--background-primary-button);
}

.section__client__list p{
    margin-top: .5rem;
    color: var(--secondary-color-text);
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10rem;
    gap: 8rem;
}
.footer .footer__image img{
    width: 400px;
    height: auto;
}
.footer__description p{
    margin-top: 1rem;
    line-height: 1.5rem;
    text-align: justify;
    color: var(--secondary-color-text);
}
@media only screen and (max-width: 1023px) {
    .nav__bar{
        padding: 0 2rem;
    }
    .nav__links{
        display: none;
    }
    .nav__menu{
        display: block;
    }
    .section__body{
        flex-direction: column;
        text-align: center;
        height: 100%;
        margin: 0;
    }
    .section__body__text{
        align-items: center;
    }
    .section__body div:nth-child(1){
        order: 2;
    }
    .section__body__image img, .footer .footer__image img{
        width: 250px;
    }
    .section__client__text, .section__client__header{
        text-align: center;
        padding: 0 1rem;
    }
    .section__client__organisation{
        padding: 0 2rem;
    }
    .section__client__organisation, .footer{
        flex-direction: column;
    }
    .footer{
        gap: 2.5rem;
        text-align: center;
    }
   
}